*{
    margin: 1;
    padding: 1;
}

/* COURSES  */
.courses{
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
}
---
/* PRICING */

.pricing {
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
}

---
/* LOGIN */

.login{
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
}

/*SmileSchool*/
.smile{
color: white;
 font-size: 18px;
 font-family: Coiny;
 font-weight: 400;
 word-wrap: break-word
}
---
/* ©smileschool 2020 */
.smile20{
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 400;
 word-wrap: break-word
}
---

/* F.A.Q. */
.FAQ{
color: #071629;
 font-size: 60px;
 font-family: Source Sans Pro;
 font-weight: 300;
 word-wrap: break-word

}
---
/*How does this work?*/
.instruction{
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
}

---
.p1{
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
}
---
/*How does this work? */
.instruct2{
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
}
---
.p2{
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
}
---
/*How does this work? */
.p3{
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word;
}
---
.p4{
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
}
---
#free{
color: #C271FF;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word;
}
---
/*  
color: white;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
 */
---
/*membership */
.member{
color: white;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 300;
 word-wrap: break-word;
}
---
/* REGISTER FOR FREE */
.register{
color: white;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 word-wrap: break-word;
}
---
/*Lorem ipsum dolor sit amet, consectetur adipiscing elit.*/
.lorem{
color: white;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 26px;
 word-wrap: break-word
}
---
/*Lorem ipsum*/

.lorem2{
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 26px;
 word-wrap: break-word;
}
---
/*
color: white;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 26px;
 word-wrap: break-word
 */
---
/*Lorem ipsum*/
.q3{
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 26px;
 word-wrap: break-word;
}
---
/*Lorem ipsum dolor sit amet, consectetur adipiscing elit.*/
.tired{
color: white;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 26px;
 word-wrap: break-word;
}
---
/*Lorem ipsum*/

.iamx{
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 26px;
 word-wrap: break-word;
}
--
.mr{
color: white;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 26px;
 word-wrap: break-word;
}
---
.mrs{
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 26px;
 word-wrap: break-word;
}
---
/*Most */
.most{
color: #071629;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 300;
 word-wrap: break-word;
}
---
/* popular */
.popular{
color: #C271FF;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word;
}
---
span{
color: white;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word;
}
---

.tutorials{
color: #071629;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 300;
 word-wrap: break-word;
}
---
/* Phillip Massey */
.phillip{
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word;
}
---
/* 8 min */
#time{
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word;
}
---

.text{
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
}
---
.smile{
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word;
}
---
/* Phillip Massey */
.phillip{
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word;
}
---
#time{
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word;
}
---
.text{
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
}
---
/* Sad Smile */
.smile{
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word;
}
---
.phillip{
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word;
}
---
#time{
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word;
}
---
.text{
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
}
---
// Natural Smile
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// Phillip Massey
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word
---
// 8 min
color: #C271FF;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod.
color: rgba(7, 22, 41, 0.50);
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Happy Smile
color: #071629;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// « Those tutorials are concise and go straight to the point. I can’t think of a better place to learn smiling. And it’s so fun!
color: white;
 font-size: 22px;
 font-family: Source Sans Pro;
 font-weight: 400;
 line-height: 33.60px;
 word-wrap: break-word
---
// Person Name
color: white;
 font-size: 22px;
 font-family: Source Sans Pro;
 font-weight: 700;
 line-height: 33.60px;
 word-wrap: break-word
---
// weather presenter
color: white;
 font-size: 22px;
 font-family: Source Sans Pro;
 font-style: italic;
 font-weight: 400;
 line-height: 33.60px;
 word-wrap: break-word
---
// Get schooled
color: white;
 font-size: 120px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// SMILES
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// GRIN
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// LAUGH
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// REGISTER FOR FREE
color: white;
 font-size: 14px;
 font-family: Source Sans Pro;
 font-weight: 600;
 word-wrap: break-word
---
// Learn
color: #C271FF;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
//  
color: white;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// from the pros
color: white;
 font-size: 32px;
 font-family: Source Sans Pro;
 font-weight: 300;
 word-wrap: break-word
---
// Henry Hughes
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 900;
 line-height: 27px;
 word-wrap: break-word
---
// « 24h smiles » winner 2016 - 2019
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-style: italic;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Bruce Walters
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 900;
 line-height: 27px;
 word-wrap: break-word
---
// Best « Friend Smile » live performance 2019
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-style: italic;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Nannie Lawrence
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 900;
 line-height: 27px;
 word-wrap: break-word
---
// Best « little smile » 2017
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-style: italic;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Phillip Massey
color: white;
 font-size: 18px;
 font-family: Source Sans Pro;
 font-weight: 900;
 line-height: 27px;
 word-wrap: break-word
---
// « Smile of the year » 2018 - 2019
color: white;
 font-size: 16px;
 font-family: Source Sans Pro;
 font-style: italic;
 font-weight: 400;
 line-height: 200;