/* COURSES  */
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// PRICING
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
---
// LOGIN
.login{
color: white;
 font-size: 12px;
 font-family: Source Sans Pro;
 font-weight: 700;
 word-wrap: break-word
}